*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    /* width: 20px; */
    /* padding: 0 15px; */
    
    
}
.container{
    max-width: 1170px;
    
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    /* float: right; */
}
.container ul{
    list-style: none;
}
 .footer{
    background-color: #24262b;
    padding: 70px 0;
}
 .footer-col{
    padding-bottom: 35px;
    padding-top: 45px;
    padding: 14px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0,3s ease;
}
.footer-col ul li a:hover{
    color: #EDBF69;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 35px;
    width: 35px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    color: #ffffff;
    transition: all 0,5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
.footer-col h5{
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 8px;
    padding-top: 5px;
}
.footer-col .address {
    color: #ffffff;
    font-weight: 200;
    font-size: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.footer-col .link{
    color: #ffffff;
    font-weight: 300;
    font-size: 15px;
    padding-bottom: 25px;
    padding-top: 15px;
}
.copy{
    text-align: center;
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 65px;
}
.copy h5{
    padding-top: 6px;
    
}
/* .nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
  } 
  
  li a {
    display: block;
    background-color: #dddddd;
    color: #ffffff;
  } */